<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="{% url 'static' 'style.css' %}">
        <meta charset="utf-8"/>
        <title>Moja Strona</title>
        <style>
        body{
            text-align: center;

        }
        p{
            margin: 0px;
            padding: 0px;

        }
        #wrapper{
            
            width: 700px;

            margin-left: 250px;
            background-color: #EBDCDC;
            text-align: left;
        }
            #sidebar{
                background-color: #EBDCDC;
                float: left;
                width: 200px;
            }
            #content{
                background-color: #EBDCDC;
                float: left;
                width: 500px;
                text-align: left;
            }
            .post{
                text-align: left;
                width: 400px;
                float: left;
            }
            .lewo{
                width: 100px;
                float: right;

            }
            .calosc{
                width: 500px;
                float: left;
            }
            .wpis{
                text-align: left;
            }
            #log{
                float: left;
                width: 100px;;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
        <div id="log">
            {% if user.is_authenticated %}
                <p>Witaj, {{ user.username }}</p>
                {% else %}
                <p>Hej nieznajomy</p>
            {% endif %}
        </div>
        <h1 style="text-align: center"> Django microblog</h1>

        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="{% url 'main'%}">Blog</a></li>
                <li><a href="/~p11/mysite.wsgi/blog/create">Dodaj wpis</a></li>
                <li><a href="/~p11/mysite.wsgi/admin/">Admin</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/~p11/mysite.wsgi/accounts/logout/">Wyloguj</a>
                        {% else %}
                <li><a href="/~p11/mysite.wsgi/accounts/login/">Login</a></li>
                {% endif %}
                <li><a href="/~p11/mysite.wsgi/accounts/register/">Rejestracja</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}Domyslna tresc{% endblock %}
        </div>
        </div>


    </body>
</html>