{% extends "base.html" %}

{% block sidebar %}
            <ul>
                <li>{% url 'main' majn %}</li>
            </ul>
            {% endblock %}

{% block content %}
    <div class="wpis">
    <p style="text-align: left">Post dodano: {{ wpis.data_publikacji }}</p>
    <h1>{{ wpis.tytul  }}</h1>
    <p>Tresc:<br>  {{ wpis.tresc }}</p>
    <br><br>
    <p>Podpis:<br> {{ wpis.podpis }}</p>

        </div>
{% endblock %}