{%  extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="/~p11/mysite.wsgi/blog">Wroc</a></li>
</ul>
{% endblock %}
{% block content %}
<p style="text-align: center">Tresc musi mieć co najmniej 10 znaków</p>
    {% if wiad %}
        <h3 style="text-align: center">{{ wiad }}</h3>
    {% endif %}
<form action="/~p11/mysite.wsgi/blog/create/" method="post">{% csrf_token %}
<table>
     {{ form.as_table }}
</table>
<input type="submit" value="Dodaj wpis">
</form>

{% endblock %}