{% extends "base.html" %}

{% block content %}
{% if  articles.count > 0 %}

<div id="wpis">

    {% if user.is_authenticated %}
        <div style="text-align: center;">
                <a href="/~p11/mysite.wsgi/blog/filter/">Pokaz moje wpisy</a>
        <hr>
        </div>
    {% endif %}

<div class="tags">
{% for tag in tags %}
    <a href="/~p11/mysite.wsgi/blog/bytag/{{ forloop.counter }}">{{ tag.nazwa }}</a>
{% endfor %}
</div>
{% for wpis in articles %}
    <div class="calosc">
    <div class="post">
    <div class="title">

    Tytul: <a href="/~p11/mysite.wsgi/blog/get/{{ wpis.id }}/"> {{ wpis.tytul }} </a><br></div>
    <p class="content">
    Tresc: {{ wpis.tresc }}</p>
    <div class="sign">
    Podpis: {{ wpis.podpis }}<br> <i style="text-align: left">Post dodano: {{ wpis.data_publikacji }}</i> </div>
    </div>
    <div class="prawo">
    Tag:<br> {% for tag in wpis.tags.all %} {{ tag }}<br>{% endfor %}
    {% if user.username == wpis.podpis or user.is_staff %}
        <a href="/~p11/mysite.wsgi/blog/edit_view/{{ wpis.id }}/">Edycja</a>
    {% endif %}
    <div style="font-size: 0.6em; float: right">
    {% if wpis.data_publikacji != wpis.zmiany_data %}
        <p>Ostatnio edytowany przez: {{ wpis.zmiany_podpis }} dnia: {{ wpis.zmiany_data }}</p>
    {% endif %}
    </div>
    </div>
    </div>

    <hr>

    {% endfor %}
<p style="text-align: center">Masz 10 min na zmiane wpisu</p>
</div>

{% else %}
    <p>Nie ma wpisow</p>
{% endif %}

{% endblock %}
