{% extends "base.html" %}

{% block content %}
    <h3>Twoje dane do logowania sa nieprawidlowe, lub Twoje konto nie jest aktywne poczekaj aż administrator aktywuje Ci konto</h3>
    <p>Kliknij tu <a href="/~p11/mysite.wsgi/accounts/login/">zaloguj</a> aby sie ponownie zalogowac</p>
{% endblock %}