{% extends "base.html" %}

{% block content %}

    <h2>Udalo Ci sie wylogowac</h2>
    <p>Kliknij tu <a href="/~p11/mysite.wsgi/accounts/login/">zaloguj</a> aby sie ponownie zalogowac</p>
{% endblock %}