{%  extends "base.html" %}

{% block content %}

    <h2>Udalo Ci sie zarejestrowac!</h2>
    <p>Kliknij tu <a href="/~p11/mysite.wsgi/accounts/login/">login</a> aby sie zalogowac </p>

{% endblock %}