{%  extends "base.html" %}

{% block content %}

    <h2>Rejestracja</h2>
    <form action="/~p11/mysite.wsgi/accounts/register/" method="post">{% csrf_token %}
        <table>
    {{ form.as_table }}
        </table>
    <input type="submit" value="Zarejestruj sie" />
    </form>

{% endblock %}